.code {
  width: 90% !important;
  height: 50px !important;
  margin-left: 10px;
  cursor: pointer;
}
.refreshCode {
  width: 30%;
  white-space: pre-wrap;
}
.inputCode {
  width: calc(100% - 88px - 30%);
}
